<?xml version="1.0" encoding="utf-8"?>
<Diagnostic Project="ML_Audio" Station="Audio" Version="1.00a" ProductionTest="True">
	<Test Name="Audio_e2e" Variation="ML" Class="" Front="False" Loop="1" Mode="Sequential" Hold="0" Timeout="300" Check="True">
		<Exec PreWait="0" Wait="3.0" Retry="0" Ask4Retry="False" File="Tools\Audio_e2e.bat" Action="" ShowTerminal="True" FailStop="False" Rebase="False" Log="" />
		<ErrorTransform>
			<Replace Source="0" To="0" PEGA="" String="Success" />
			<Replace Source="FF" To="FF" PEGA="" String="!- Audio_E2E-! Audio E2E Failed" />
		</ErrorTransform>
	</Test>
	<Test Name="ML" Variation="ML" Class="BootCheck" Front="False" Loop="1" Mode="Sequential" Hold="0" Timeout="0" Check="False">
		<Exec PreWait="0" Wait="0" Retry="3" Ask4Retry="False" File="" Action="" ShowTerminal="True" FailStop="True" Rebase="False" Log="" />
		<ErrorTransform>
			<Replace Source="1" To="8F1A0018" PEGA="AKFP1L" String="!-Battery_Power_TEST-! Set Battery Level Fail." />
			<Replace Source="FF" To="8F1A0018" PEGA="AKFP1L" String="!-Battery_Power_TEST-! Set Battery Level Fail." />
		</ErrorTransform>
	</Test>
	<Group Name="Shut Down" Loop="1" Mode="Sequential" Hold="0" Timeout="0" Check="False">
		<Test Name="BF Shut Down" Variation="ML" Class="" Front="False" Loop="1" Mode="Sequential" Hold="15.0" Timeout="0" Check="False">
			<Exec PreWait="0" Wait="0" Retry="0" Ask4Retry="False" File="Tools\BiFrostTools\_System.bat" Action="PowerControl Shutdown" ShowTerminal="True" FailStop="False" Rebase="False" Log="" />
			<ErrorTransform>
				<Replace Source="1" To="0" PEGA="" String="Success" />
				<Replace Source="FF" To="8F00000E" PEGA="AKFNGE" String="!- POWEROFF -! Fail to shutdown the DUT" />
			</ErrorTransform>
		</Test>
	</Group>
</Diagnostic>